# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/

# Virtual environment
venv/
ENV/

# Instance folder
instance/

# Cache files
.pytest_cache/
.mypy_cache/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/
